<div class="container">
    <% if (error_msg.length > 0){ %>
        <div class="alert alert-danger" style="text-align: center;">
            <%= error_msg %>
        </div>
        <% } %>
</div>

<div class="container">
    <% if (success_msg.length > 0){ %>
        <div class="alert alert-success" style="text-align: center;">
            <%= success_msg %>
        </div>
        <% } %>
</div>