<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">
    <% include ../partials/javascript %>
    <% include ../partials/stylesheet %>
    <% include ../partials/eugenecss %>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>

    <div class="sidenav" id="sidenav">
        <a href="/profile">Profile</a>
        <a href="/edit/profile">Edit Profile</a>
        <a href="/changePassword">Change Password</a>
        <a href="/2FA">2-Factor Authentication</a>
    </div>

    <div class="warningmsg" id = "warningmsg">
        <div class="alert alert-warning alert-dismissible fade in">
            <strong>WOAH! </strong><p id="errmsg"></p>
        </div>
    </div>

    <form class="form-signin form-horizontal" action="/changePassword" method="post">
        <h2 class="form-signin-heading">Change Password</h2>
        <div style="position: relative; left: 35px;">
        <label for="currentpass" class="control-label col-sm-2">Current Password:</label>
        <div style="position: relative; top: 26px; left:14px; width: 82%; margin: 0 0 25px 0;">
            <input type="password" id="currentpass" name="currentpass" class="form-control" placeholder="Current Password" required>
        </div>
        <label for="newpass" class="control-label col-sm-2">New Password:</label>
        <div style="position: relative; top: 26px; left:14px; width: 82%; margin: 0 0 25px 0;">
            <input type="password" id="newpass" name="newpass" class="form-control" placeholder="New Password" required>
        </div>

        <div class="textpass">
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>
        <div class="textpass" id="aligned2">
            <p id="alphanum" class="invalid">Must be <b>alphanumeric</b> (At least 1 alphabet and number)</p>
        </div>

        <label for="repeatpass" class="control-label col-sm-2">Repeat Password:</label>
        <div style="position: relative; top: 26px; left:14px; width: 82%; margin: 0 0 25px 0;">
            <input type="password" id="repeatpass" name="repeatpass" class="form-control" placeholder="Repeat Password" required>
        </div>

        <div class="textpass">
        <p id="same" class="valid"> Passwords Match</p>
        </div>

        </div>
        <button class="btn" type="submit" id="changepass">Change Password</button>
    </form>
    <button class="btn" id="cancelpass"type="button">Cancel</button>

    <!-- Modal for verification -->
    <div class="modal fade" id="verificationModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header"  style="background-color: #F8694A;">
                <h4 class="modal-title" style="color: white;">Verify OTP</h4>
            </div>
            <div class="modal-body">    
                <p>Please enter your verification code</p>
                <input type="text" id="otp" name="otp" placeholder="6 digit verification code">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" class="closeModal">Close</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="verifyOTP">Verify OTP</button>  
            </div>
            </div>             
        </div>
    </div>

    <!-- Modal To display success/error -->
    <div class="modal fade" id="messageModal" role="dialog" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header" style="background-color: #F8694A;">
                <h4 class="modal-title" style="color: white;">Message</h4>
            </div>
            <div class="modal-body" style="font-size: 17px;" id="modalbodyMessage">    
                <p id="msg"></p>
            </div>
            <div class="modal-footer" id="modalfooterMessage">   
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal" class="closeModal" data-toggle="modal" data-target="#verificationModal">Close</button> 
            </div>
        </div>           
        </div>
    </div>

    <script>
        $(document).ready(function (){
            $('#verificationModal').modal({
                backdrop: 'static',
                keyboard: false,
                show: false
            }); 
        })

        const password = $("#newpass");
        const repeatpass = $("#repeatpass");
        const length = $("#length");
        const same = $("#same");
        const alphanum = $("#alphanum");
        const validChar = /^[a-zA-Z0-9]+$/;
        const validNum = /\d/;
        
        password.keyup(function() {
            // Validate length
            if(password.val().length >= 8) {
                length.removeClass("invalid");
                length.addClass("valid");
                if (repeatpass.val() === password.val()){
                    same.removeClass("invalid");
                    same.addClass("valid");
                }else {
                    same.removeClass("valid");
                    same.addClass("invalid");
                } 
            }   
            else {
                length.removeClass("valid");
                length.addClass("invalid");
                if (repeatpass.val() === password.val()){
                    same.removeClass("invalid");
                    same.addClass("valid");
                }else {
                    same.removeClass("valid");
                    same.addClass("invalid");
                }
            }
            if(validChar.test(password.val()) && validNum.test(password.val())){
                alphanum.removeClass("invalid");
                alphanum.addClass("valid");  
            }
            else{
                alphanum.removeClass("valid");
                alphanum.addClass("invalid");
            }
        })
        repeatpass.keyup(function() {	
            if (repeatpass.val() === password.val()){
                same.removeClass("invalid");
                same.addClass("valid");
            }else {
                same.removeClass("valid");
                same.addClass("invalid");
            }
        })
        
        $(document).ready(function (){
            validate();
            $('#newpass, #repeatpass, #currentpass').keyup(validate);
        });
        function validate(){
            if (
            $('#currentpass').val().length > 0 &&
            $('#newpass').val().length > 0 && 
            $('#repeatpass').val().length > 0 &&
            password.val().length >= 8 &&
            validChar.test(password.val()) && validNum.test(password.val())
            )
            {
                $("#changepass").prop("disabled", false);
            }
            else {
                $("#changepass").prop("disabled", true);
            }
        }

        $("#changepass").click((e)=>{
            e.preventDefault();
            if ($("#newpass").val() !== $("#repeatpass").val()){
                $('#warningmsg').css('display', 'inline');
                $('#errmsg').css('display', 'inline');
                $('#errmsg').html("New password and repeat password does not match!");
                $("#sidenav").css('top', '400px');
            }else{
                var newpassData = {
                    newpass: $("#newpass").val(),
                    currentpass: $("#currentpass").val()
                }
                $.ajax({
                    type: "post",
                    url: "/checkTFA",
                    success: function(message){
                        if (message.message == "GoogleAuth"){
                            $("#verificationModal").modal('show');
                        }
                        else if (message.message == "disabled"){
                            $.ajax({
                                type: "post",
                                url: "/changePassword",
                                data: JSON.stringify(newpassData),
                                dataType: "json",
                                contentType: "application/json",
                                success: function(message){
                                    $("#messageModal").modal("show");
                                    $("#msg").html(message.message);
                                    $("#closeModal").click(()=>{
                                        location.href="/profile"
                                    });
                                },error: function(err){
                                    $('#warningmsg').css('display', 'inline');
                                    $('#errmsg').css('display', 'inline');
                                    $('#errmsg').html(err.responseText);
                                    $("#sidenav").css('top', '400px');
                                }
                            });
                        }
                    }
                })
            }
        })

        $("#verifyOTP").click((e)=>{
            e.preventDefault();
            var tokenData ={
                otp: $("#otp").val()
            }
            $.ajax({
                url: "/verifyOTP",
                type: "post",
                data: JSON.stringify(tokenData),
                dataType: "json",
                contentType: "application/json",
                success: function(msg){
                    var newpassData = {
                        newpass: $("#newpass").val(),
                        currentpass: $("#currentpass").val()
                    }
                    $.ajax({
                        type: "post",
                        url: "/changePassword",
                        data: JSON.stringify(newpassData),
                        dataType: "json",
                        contentType: "application/json",
                        success: function(message){
                            $("#messageModal").modal("show");
                            $("#msg").html(message.message);
                            $("#closeModal").click(()=>{
                                location.href="/profile"
                            });
                        },error: function(err){
                            $('#warningmsg').css('display', 'inline');
                            $('#errmsg').css('display', 'inline');
                            $('#errmsg').html(err.responseText);
                            $("#sidenav").css('top', '400px');
                        }
                    });
                },
                error: function(result){
                    $("#messageModal").modal("show");
                    $("#msg").html(result.responseText);
                }
            });
        })

        $("#cancelpass").click(()=>{
            location.href = "/edit/profile";
        })
    </script>
    <% include ../partials/footer %>
</body>
</html>