<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>
		<%= title %>
	</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="css/slick.css" />
	<link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stylesheet -->
	<link type="text/css" rel="stylesheet" href="css/raysonStyle.css" />


</head>

<body>
	<% include ../partials/header %>

		<!-- section -->
		<center>
			<div class="section">
				<div class="checkout-panel">
					<div class="panel-body">
						<h2 class="title">Step 2: Confirmation</h2>

						<div class="bar">
							<div class="step active"></div>
							<div class="step "></div>
							<div class="step"></div>
							<div class="step"></div>
						</div>
						<div class=" check hidden" id="correctPassword">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
								<circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
								/>
								<polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
								 points="100.2,40.2 51.5,88.8 29.8,67.5 " />
							</svg>
							<br>
							<center>
								<p class="success">One Time Password Correct!</p>
							</center>
						</div>
						<div id="wrongPassword" class="check hidden">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
								<circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
								/>
								<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
								 y1="37.9" x2="95.8" y2="92.3" />
								<line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
								 y1="38" x2="34.4" y2="92.2" />
							</svg>
							<p class="error">Invalid One Time Password!</p>
						</div>
						<br>
						<br>
						<div class="input-fields">
							<label for="Send OTP Email">One Time Password:</label>
							<input type="text" id="passwordHolder" />
						</div>
						<br>
						<br>
						<center>
							<button id='check' class="btn">Confirm OTP</button>
						</center>
					</div>
					<br>
					<br>
					<div class="panel-footer">
						<button href="/shopping-cart" class="btn back-btn">Back</button>
					</div>
				</div>

			</div>
		</center>
		<!-- /section -->


		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

		<script>
			var timer = setInterval(reloadFunction, 60000);

			function reloadFunction() {
				location.reload(true);
			}

			$("#check").click(function () {
				var password = document.getElementById("passwordHolder").value;
				alert('<%= onePassword %>')
				if (password == '<%= onePassword %>') {
					$("#wrongPassword").addClass("hidden");
					$("#correctPassword").removeClass("hidden");
					window.location.replace("http://localhost:3000/checkout");
				}
				else {
					$("#wrongPassword").removeClass("hidden");
				}
			}
			);
		</script>



		<% include ../partials/footer %>
</body>

</html>