<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title><%= title %></title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="css/slick.css" />
	<link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stylesheet -->
	<link type="text/css" rel="stylesheet" href="css/raysonStyle.css" />

 
</head>

<body>
	<% include ../partials/header %>
	<!-- section -->
	<center>
	<div class="section">
			<div class="checkout-panel">
					<div class="panel-body">
					  <h2 class="title">Step 4: Done</h2>
				
					  <div class="bar">
						<div class="step active"></div>
						<div class="step active"></div>
						<div class="step active"></div>
						<div class="step active"></div>
					  </div>
					  	<div class="alert alert-success alert-dismissible fade in">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<strong>Payment Completed!</strong>You can either track your orders or go back to shop at Cheapo.
						</div>
						<div class="row">
							<div class="col-sm-12 text-center">
								<button id="orderTracking" class="btn">Order Tracking</button>
								<button id="backToShopping"class="btn">Back To Shopping</button>
							</div>
						</div>
				  </div>
				
	</div>
</center>
	<!-- /section -->


	<!-- jQuery Plugins -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/main.js"></script>

<% include ../partials/footer %>
<script>
	$("#obackToShopping").click(function(){
		location.replace("http://localhost:3000/");
	});

	$("#orderTracking").click(function(){
		location.replace("http://localhost:3000/order-tracking");
	});

	(function (global) {

if(typeof (global) === "undefined")
{
	throw new Error("window is undefined");
}

var _hash = "!";
var noBackPlease = function () {
	global.location.href += "#";

	// making sure we have the fruit available for juice....
	// 50 milliseconds for just once do not cost much (^__^)
	global.setTimeout(function () {
		global.location.href += "!";
	}, 50);
};

// Earlier we had setInerval here....
global.onhashchange = function () {
	if (global.location.hash !== _hash) {
		global.location.hash = _hash;
	}
};

global.onload = function () {
	
	noBackPlease();

	// disables backspace on page except on input fields and textarea..
	document.body.onkeydown = function (e) {
		var elm = e.target.nodeName.toLowerCase();
		if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
			e.preventDefault();
		}
		// stopping event bubbling up the DOM tree..
		e.stopPropagation();
	};
	
};

})(window);
</script>
</body>

</html>
