<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">
    <% include ../partials/javascript %>
    <% include ../partials/stylesheet %>
    <% include ../partials/eugenecss %>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>
    <div id="head">
        <h1>Forget Username</h1>
        <h3>Please enter your email account</h3>
    </div>
    <div class="warningmsg" id = "warningmsg">
        <div class="alert alert-warning alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>WOAH! </strong><p id="errmsg"></p>
        </div>
    </div>

    <div id = "body">
        <form class="form-signin" action="" method="post">
        <label for="email" class="control-label col-sm-2">Email Address:</label>
        <div style="position: relative; top: 20px; left:14px; width: 82%; margin: 25px 0 25px 0;">
            <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required>
        </div>
        <button class="btn" type="submit" id="findUsername">Check Username</button>
        </form>
    </div>

    <div id="message">
        <h3>Your username has been sent to your email.</h3>
    </div>

    <button class="btn" id="back">Back</button>


    <% include ../partials/footer %>

    <script>
    $('#back').click(()=>{
            location.href = "/login";
    })
    $('#findUsername').click((e)=>{
        e.preventDefault();
        var getData = {
            email: $('#email').val(),
        }
        $.ajax({
            url: '/forgetusername',
            type: "post",
            data: getData,
            data: JSON.stringify(getData),
            dataType: "json",
            contentType: "application/json",
            success: function(){
                $('#body').css('display', 'none');
                $('#head').css('display', 'none'); 
                $('#warningmsg').css('display', 'none');
                $('#message').css({'display': 'initial','margin-bottom': '20px'});
            },
            error: function(err){
                $('#warningmsg').css('display', 'inline');
                $('#errmsg').css('display', 'inline');
                $('#errmsg').html(err.responseText);
            }
            
        })
    })
    </script>
</body>
</html>