<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cheapo</title>
	<!-- css -->
	<% include ../partials/stylesheet %>
</head>

<body>
	<!-- header -->
	<% include ../partials/header %>		
	<!-- slider -->
	<% include ../partials/_index/slider %>

	<!-- collections -->
	<% include ../partials/_index/collections %>

	<!-- weeklydeals -->
	<% include ../partials/_index/weeklydeals %>	

	<!-- latestproducts -->
	<% include ../partials/_index/latestproduct %>

	<!-- FOOTER -->
	<% include ../partials/footer %>

	<!-- jQuery Plugins -->
	<% include ../partials/javascript %>
</body>

</html>