<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">    
    <% include ../partials/stylesheet %>
    <% include ../partials/eugenecss %>
    <title>Cheapo</title>
</head>
<body>
    <!-- header -->
    <% include ../partials/header %>
    
    <!-- slider -->
    <% include ../partials/_index/slider %>

    <!-- collections -->
    <% include ../partials/_index/collections %>

    <!-- weeklydeals -->
	<% include ../partials/_index/weeklydeals %>	

	<!-- latestproducts -->
	<% include ../partials/_index/latestproduct %>

    <!-- FOOTER -->
    <% include ../partials/footer %>

    <!-- JS -->
    <% include ../partials/javascript %>
</body>
</html>