<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cheapo</title>
    <!-- css -->
    <% include ../partials/stylesheet %>
</head>

<body>
    <% include ../partials/header %>
        <div class="container">
            <div class="cad card-body">
                <h3>Edit listed item</h3>
                <form action="" method="post">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" name="name" class="form-control" value="<%= item.name %>" required>
                    </div>
                    <div class="form-group">
                        <label for="details">Price</label>
                        <input type="text" name="price" class="form-control" value="<%= item.price %>" required>
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea name="detail" class="form-control" required><%= item.detail %></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    <% include ../partials/footer %>
    <!-- jQuery Plugins -->
    <% include ../partials/javascript %>
</body>

</html>