<!doctype HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <% include ../partials/javascript %>
        <% include ../partials/stylesheet %>
        <% include ../partials/eugenecss %>
        <title><%= title %></title>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="warningmsg">
            <% if (message.length > 0) { %>
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>WOAH!</strong> <%= message %>
            </div>
	        <% } %>
        </div>

        <form class="form-signin form-horizontal" action="/login" method="post">
            <h2 class="form-signin-heading">Welcome, Sign in</h2>
            
            <label for="username" class="control-label col-sm-2">Username</label>
            <div style="position: relative; top: 11px; left:14px; width: 82%; margin: 25px 0 9px 0;">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
            </div>

            <label for="password" class="control-label col-sm-2">Password</label>
            <div style="position: relative; top: 10px; left:14px; width: 82%; margin: 25px 0 25px 0;">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <div id="forget">
                <a href='/forgetusername' id="forgetusername">Forget Username?</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href='/forgetpass' id="forgetpass">Forget Password?</a><br>
            </div>
            <button class="btn btn-primary" type="submit" id="loginButton">Log in</button>
        </form>
        <p id = "p">Don't have an account? <span style="font-weight: bold;">Sign up now!</span></p>
        <button class="btn btn-primary" id="signupButton" onclick="window.location='/signup'">Sign Up</button>
        <% include ../partials/footer %>
    </body>
</html>