<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cheapo</title>
    <!-- css -->
    <% include ../partials/stylesheet %>
</head>

<body>
    <% include ../partials/header %>
        <div class="container">            
            <h1 style="text-align: center">Sorry Page Not Found</h1>
        </div>
    <% include ../partials/footer %>
    <!-- jQuery Plugins -->
    <% include ../partials/javascript %>
</body>

</html>