<!doctype HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <% include ../partials/javascript %>
        <% include ../partials/stylesheet %>
        <title><%= title %></title>
    </head>
    <body>
        <% include ../partials/header %>
        
        <% include ../partials/footer %>
    </body>
</html>