<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cheapo</title>
    <!-- css -->
    <% include ../partials/stylesheet %>
    <link type="text/css" rel="stylesheet" href="/css/raysonStyle.css" />
</head>

<body>
    <% include ../partials/header %>
        <div class="container">
            social
        </div>
        <% include ../partials/footer %>
        <!-- jQuery Plugins -->
        <% include ../partials/javascript %>
</body>

</html>