<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cheapo</title>
    <!-- css -->
    <% include ../partials/stylesheet %>
</head>

<body>
    <% include ../partials/header %>
        <div class="container">
            <form action="#" method="post" disabled>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container" style="overflow: hidden">
                        <div style="height: 130px;width: 20%;float: left;background-color: aquamarine;display: flex">
                            <h3 style="margin: auto">
                                By: Matthew
                            </h3>
                        </div>
                        <div style="height: 130px;width: 20%;float: left;display: flex;background-color: bisque">
                            <h3 style="margin: auto">
                                To: Matthew
                            </h3>
                        </div>
                        <div style="height: 130px;width: 45%;float: left;display: flex;background-color: rgb(185, 116, 31)">
                            <h4 style="margin: auto">
                                Report: wowowowow
                            </h4>
                        </div>
                        <div style="height: 130px;width: 15%;float: left;background-color: aquamarine">											
                            <div style="height: 100%; width: 100%;">
                                <div style="height: 33%;width: 100%;display: flex;">
                                    <a href="#" style="margin: auto" class="btn btn-primary btn-sm">View item</a>
                                </div>
                                <div style="height: 34%;width: 100%;display: flex">
                                    <a onclick="return confirm('Are you sure you want to delete?')" href="#" style="margin: auto;"
                                    class="btn btn-primary btn-sm">Actions</a>
                                </div>
                                <div style="height: 33%;width: 100%;display: flex">
                                    <a onclick="return confirm('Are you sure you want to delete?')" href="#" style="margin: auto;"
                                    class="btn btn-primary btn-sm">Delete</a>
                                </div>
                            </div>												
                        </div>
                    </div>
                </div>
            </form>
        </div>
    <% include ../partials/footer %>
    <!-- jQuery Plugins -->
    <% include ../partials/javascript %>
</body>

</html>